* {
  font-family:'Righteous';
}

body {
  background-color: #001f54;
}

.contenedorPrincipal {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.haeader header {
  background: #1282a2;
  border-radius: 8px 8px 0px 0px;
  border: 1px solid #fff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  -webkit-border-radius: 8px 8px 0px 0px;
  -moz-border-radius: 8px 8px 0px 0px;
  -ms-border-radius: 8px 8px 0px 0px;
  -o-border-radius: 8px 8px 0px 0px;
}

.haeader header .titulo1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  margin: 0px 200px 0px -200px;
  color: #001f54;
}

.haeader header nav {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  width: 10px;
  height: 10px;
}

#nav {
  font-size: 18px;
  text-align: center;
  height: 20px;
  width: 90px;
  padding: 20px;
  color: #001f54;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

#nav:hover {
  background: #001f54;
  cursor: pointer;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.span {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.Inicio {
  background-image: url(file:///C:/Users/FS/Downloads/blurry-gradient-haikei.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-clip: border-box;
  height: 800px;
  width: 100%;
}

.Inicio .img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px -60px 0px 60px;
}

.Inicio h1 {
  text-align: center;
  font-size: 40px;
  color: #fff;
}

#Developer{
    font-family:'Courier New', Courier, monospace;
}

.logos {
  margin: 200px -100px 20px 200px;
  width: 50px;
}

.logos ion-icon {
  color: #1282a2;
  height: 50px;
  width: 40px;
}

.logos ion-icon:hover {
  height: 80px;
  width: 60px;
  animation-duration: 3s;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}

.section1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 600px;
  width: 100%;
}

.section1 section {
  height: 100px;
  width: 600px;
  font-size: 15px;
  color: #fff;
}

.section1 .titulo2 {
  justify-content: start;
  font-size: 20px;
  color: #1282a2;
}

.section1 .contenedor1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    margin: -100px 0px 100px 0px;
    height: 230px;
}

.section1 .contenedor1 h3{
  color: #1282a2;
  text-align: center;
  font-size: 17px;
}

.section1 .contenedor1 #Saludo{
  color: #1282a2;
  font-size: 20px;
  margin: 5px 0px;
}

.section1 .contenedor1 .contactos{
  display: flex;
  justify-content: center;
  align-items: center;
}

.section1 .contenedor1 .contactos ul{
  font-size: medium;
  text-align: center;
  gap: 10px;
  display: grid;
}

.section1 .contenedor1 .contactos strong{
  color: #1282a2;
  font-size: 16px;
}
.section1 .contenedor1 .contactos .Cargo{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 25px;
  font-family:'Courier New', Courier, monospace ;
}

.skills{
  background-color: #001f54;
  color: #fff;
  padding: 50px 20px;
}
.skills .contenido-seccion{
  max-width: 1100px;
  margin: auto;
}
.skills h2{
  font-size: 48px;
  color: #1282a2;
  font-family: 'Righteous';
  text-align: center;

}
.skills .fila{
  display: flex;
}
.skills .fila .col{
  width: 50%;
  padding: 0 20px;
}
.skills .fila .col h3{
  font-size: 28px;
  font-family: 'Righteous';
  margin-bottom: 10px;
}
.skills .skill > #span{
  font-weight: bold;
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
  color: #fff;
}
.skills .skill .barra-skill{
  height: 8px;
  width: 80%;
  background-color: #fff;
  position: relative;
  margin-bottom: 30px;
}
.skills .skill .progreso{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1282a2;
  position: absolute;
  top: 0;
  left: 0;
  height: 8px;
}
.skills .skill .barra-skill #porcentajes{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 40px;
  width: 40px;
  color: #1282a2;
  background-color: #fff;
  border-radius: 20px;
  line-height: 50px;
  text-align: center;
  top: -10px;
  right: -8px;
  font-size: 16px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
/* Estas clases se agregaran dinamicamente mediante javascript */
.skills .skill .javascript{
  width: 0%;
  animation: 2s javascript forwards;
  -webkit-animation: 2s javascript forwards;
}
@keyframes javascript {
  0%{width: 0%;}
  100%{width: 75%;}
}

.skills .skill .htmlcss{
  width: 0%;
  animation: 2s htmlcss forwards;
  -webkit-animation: 2s htmlcss forwards;
}
@keyframes htmlcss {
  0%{width: 0%;}
  100%{width: 89%;}
}

.skills .skill .photoshop{
  width: 0%;
  animation: 2s photoshop forwards;
  -webkit-animation: 2s photoshop forwards;
}
@keyframes photoshop {
  0%{width: 0%;}
  100%{width: 95%;}
}

.skills .skill .wordpress{
  width: 0%;
  animation: 2s wordpress forwards;
  -webkit-animation: 2s wordpress forwards;
}
@keyframes wordpress {
  0%{width: 0%;}
  100%{width: 81%;}
}

.skills .skill .drupal{
  width: 0%;
  animation: 2s drupal forwards;
  -webkit-animation: 2s drupal forwards;
}
@keyframes drupal {
  0%{width: 0%;}
  100%{width: 55%;}
}

.skills .skill .comunicacion{
  width: 0%;
  animation: 2s comunicacion forwards;
  -webkit-animation: 2s comunicacion forwards;
}
@keyframes comunicacion {
  0%{width: 0%;}
  100%{width: 80%;}
}

.skills .skill .trabajo{
  width: 0%;
  animation: 2s trabajo forwards;
}
@keyframes trabajo {
  0%{width: 0%;}
  100%{width: 70%;}
}

.skills .skill .creatividad{
  width: 0%;
  animation: 2s creatividad forwards;
}
@keyframes creatividad {
  0%{width: 0%;}
  100%{width: 99%;}
}

.skills .skill .dedicacion{
  width: 0%;
  animation: 2s dedicacion forwards;
}
@keyframes dedicacion {
  0%{width: 0%;}
  100%{width: 65%;}
}

.skills .skill .proyect{
  width: 0%;
  animation: 2s proyect forwards;
}
@keyframes proyect {
  0%{width: 0%;}
  100%{width: 94%;}
}
